<!DOCTYPE html>
<html>
<head>
  <title>Fancy Strings</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1><u>Fancy string stuff</u></h1>
<img src="/272px-Spool_of_string.jpg">
  <%= yield %>

</body>
</html>
